html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol ul {
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li::before {
  content: none;
}

blockquote q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --rougeFonce: #e63946;
  --orange: #f77f00;
  --jaune: #fcbf49;
  --vert: #90be6d;
  --bleu: #43aa8b;
  --indigo: #577590;
  --violet: #9d4edd;

  --grisC: #f0f0f0;
  --gris7: #888888;
  --border: #cccccc;
  --texte: #222;
  --bgNoir: #1a1a1a;
}

.header-anim {
  background: linear-gradient(45deg, #ff6f61, #ffcc00, #ff6f61);
  background-size: 400% 400%;
  animation: fondScintillant 6s ease infinite;
  color: white;
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

section .container {
  margin: 50px auto;
  width: 80%;
}

.top10 {
  margin-top: 10px;
}

html {
  background: linear-gradient(
    270deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 1400% 1400%;
  animation: rainbowBG 30s ease infinite;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Gloria Hallelujah", cursive;
}

body {
  border: 1px solid var(--border);
  width: 90%;
  max-width: 900px;
  min-height: calc(90vh - 2px);
  margin: 5vh auto;
  border-radius: 5px;
  box-shadow: 0px 5px 50px var(--gris7);
  line-height: 1;
  background: #fff;
}
.logo-header {
  width: 80px;
  /* max-width: 300px; */ 
  height: auto;
  display: block;
  margin: 0 auto;
}

.cv-name {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

header {
  background: linear-gradient(135deg, #6a11cb, #2575fc, #6a11cb);
  color: #fff;
  height: auto;
  padding: 20px 0;
  text-align: center;
}

.contact-inline {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 14px;
}

.cv-header {
  text-align: center;
  padding: 40px 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #e0ecff, #f4f4ff);
  box-shadow: 0: 8px 30px rgba(0, 0, 0, 0.2);
}

.cv-name {
  /* background-color: #f76c5e; */
  color: white;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 0 auto 30px auto;
}
/* 
.cv-name h1 {
  font-size: 24px;
  line-height: 1.4;
  margin: 0;
  font-family: "Indie Flower", cursive;
} */

.cv-infos {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.info-block {
  text-align: center;
  max-width: 220px;
}

.info-block strong {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #111;
}

.info-block p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.info-block a {
  color: #666;
  text-decoration: none;
}

.info-block a:hover {
  text-decoration: underline;
}

.info-header li strong {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
}

header ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

header ul li a:hover {
  text-decoration: underline;
}

header ul li:nth-child(2) {
  padding-left: 20%;
}

header ul li:nth-child(3) {
  padding-left: 15%;
}

.info-header .nom {
  background-color: #f76c5e;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  color: white;
  flex: 1 1 200px;
  text-align: center;
}


main {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

aside {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  min-height: calc(100vh - 150px);
  padding: 0 10%;
}

aside img {
  width: 100%;
  margin: 60px auto 60px;
  display: block;
  border-radius: 50%;
}

aside h2,
section article h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}

aside p {
  color: #222 !important; /* ou #000 pour noir total */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

section article {
  border-top: 1px solid #cecece;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

section article h2 {
  width: auto;
  /* background: #fff; */
  border-right: 1px solid #cecece;
  position: relative;
  z-index: 1;
  position: relative;
  top: -10px;
  display: inline-block;
  padding-right: 10px;
}

section article p {
  color: #222 !important; /* ou #000 pour noir total */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

section article li.exp {
  display: grid;
  grid-template-columns: 105px auto;
  margin-bottom: 20px;
}

section article li span.periode {
  border-right: 1px solid var(--border);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section article li.exp span.desc strong {
  font-weight: bold;
}

footer {
  /* background: var(--bgNoir); */
  background: linear-gradient(135deg, #6a11cb, #2575fc, #6a11cb);
  background-size: 400% 400%;
  animation: fondScintillant 8s ease infinite;
  color: white;
  padding: 20px 0;
}

footer ul {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

footer ul li:first-child {
   background: linear-gradient(
    270deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  height: 50px;
}

footer ul li:nth-child(2) img {
  height: 14px;
  position: relative;
  top: 3px;
}

footer ul li:nth-child(2) {
  display: block;
  text-align: center;
  width: 100%;
  height: 35px;
  padding-top: 15px;
}

footer ul li:nth-child(2) a {
  color: #999;
  text-decoration: none;
  font-size: 12px;
}

footer ul li:nth-child(2) a:hover {
  text-decoration: underline;
}

@keyframes fondScintillant {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbowBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

a:hover {
  color: violet;
  font-weight: bold;
}

@media (max-width: 700px) {
  .info-header {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  header ul li #prenom,
  header ul li #nom {
    font-size: 22px;
  }

  header ul li:first-child {
    padding: 50px;
    text-align: center;
  }

  header ul li {
    font-size: 13px;
  }

  header ul li strong {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  body {
    width: 98%;
    margin: 1vh auto;
  }

  .container {
    width: 100%;
    max-width: 100%;
  }

  header {
    height: auto;
  }
  header ul {
    grid-template-columns: 1fr;
  }

  header ul li:first-child {
    height: auto;
    padding: 20px 0;
  }

  header ul li:nth-child(2) {
    padding-left: 0%;
    padding-top: 30px;
  }

  header ul li:nth-child(3) {
    padding: 10px 0%;
  }

  header ul li:nth-child(4) {
    padding-bottom: 30px;
    padding-left: 0%;
  }

  header ul li {
    height: auto;
    padding: 20px 0;
    text-align: center;
  }

  aside {
    text-align: center;
  }

  aside img {
    max-width: 300px;
  }

  main {
    grid-template-columns: 1fr;
  }

  section article h2 {
    border: none;
  }

  section article li.exp {
    grid-template-columns: 85px auto;
  }

  section article li span.periode {
    font-size: 12px;
  }

  footer ul {
    grid-template-columns: 0fr 1fr;
  }
}
